.character {
  text-align: center;
  background: url("../assets/apexImage.jpg") no-repeat center 50px fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100vh;
}
