.map {
  color: white;
  background: url("../assets/apexImage.jpg") no-repeat center 50px fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.brCurrent {
  text-align: center;
}

.arenaCurrent {
  text-align: center;
}

.map__image {
  height: 175px;
  max-width: 500px;
  margin: 20px;
  border-style: solid;
  border-color: yellow;
  border-radius: 10px;
  box-shadow: 5px 5px 10px black;
}

.map__text {
  text-shadow: 2px 2px #000000;
}

@media only screen and (max-width: 600px) {
  .map {
    background: url("../assets/mobileBackground.jpg") no-repeat center center
      fixed;
  }
}
