.news {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(red, black, #000000);
}

.news__tile {
  margin: 20px;
  width: 250px;
}

.news__image {
  object-fit: contain;
  width: 200px;
}

.news__link {
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px #000000;
}

.news__link:hover {
  color: red;
}
