.news {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: url("../assets/apexImage.PNG") no-repeat center 50px fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.news__tile {
  margin: 30px;
  width: 200px;
  height: 175px;
}

.news__image {
  width: 200px;
  border-style: solid;
  border-color: yellow;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #000000;
}

.news__link {
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px #000000;
}

.news__link:hover {
  color: red;
}
