.replicator {
  color: white;
  background: url("../assets/apexImage.jpg") no-repeat center 20px fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.replicator__item_tile {
  border-style: solid;
  border-color: #000000;
  border-radius: 10px;
  max-height: 400px;
  width: 400px;
  margin: 30px;
  flex-direction: row;
  box-shadow: 10px 10px 10px black;
  background-color: gray;
  background-image: linear-gradient(black, #000000, yellow);
}

.replicator__image {
  height: 75px;
  border-style: solid;
  border-color: #000000;
  border-radius: 10px;
  box-shadow: 5px 5px 10px black;
  margin-top: 10px;
  margin-bottom: 10px;
}

.replicator__card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}
