.shop {
  color: white;
  background: url("../assets/apexImage.jpg") no-repeat center 50px fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.shop__tile {
  color: white;
  margin: 30px;
  border-style: solid;
  border-color: yellow;
  border-radius: 10px;
  height: 350px;
  width: 200px;
  box-shadow: 5px 5px 10px black;
  background-image: linear-gradient(black, #000000, yellow);
}

.shop__image {
  max-height: 200px;
  max-width: 175px;
  object-fit: contain;
}

.shop__price {
  bottom: 0px;
}
