.shop {
  color: white;
  background: url("../assets/apexImage.jpg") no-repeat center 50px fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.shop__tile {
  color: white;
  margin: 20px;
  border-style: solid;
  border-color: yellow;
  border-radius: 10px;
  height: 350px;
  width: 200px;
  box-shadow: 5px 5px 10px black;
  background-image: linear-gradient(black, #000000, yellow);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.shop__image_container {
  height: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shop__image {
  max-height: 200px;
  max-width: 175px;
  object-fit: contain;
}

.shop__price {
  text-shadow: 1px 1px #000000;
  padding-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  .shop {
    background-image: linear-gradient(0.25turn, black, #000000, yellow);
  }
}
