.stats {
  text-align: center;
  background: url("../assets/apexImage.jpg") no-repeat center 50px fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100vh;
  display: flex;
  color: white;
}

.stats__box {
  height: 500px;
  width: 400px;
  border-style: solid;
  background-color: #000000;
}

.stats__platform {
  margin: 10px;
}

input {
  margin-left: 10px;
}

#stats__text {
  width: 200px;
  text-align: center;
}

.stats__btn {
  margin: 10px;
  background-color: yellow;
  color: white;
  text-shadow: 1px 1px 5px #000000;
  cursor: pointer;
  padding: 5px 30px;
}

@media only screen and (max-width: 600px) {
  .stats {
    background-image: linear-gradient(0.25turn, black, #000000, yellow);
  }

  .stats__box {
    width: 300px;
  }
}
