.stats {
  background: url("../assets/apexImage2.jpg") no-repeat center 30px fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  align-items: center;
  text-align: center;
  justify-content: center;
  min-height: 100vh;
  display: flex;
  color: white;
  flex-direction: column;
}

.stats__box {
  /* height: 550px; */
  width: 400px;
  border-style: solid;
  border-color: white;
  border-radius: 10px;
  background-image: linear-gradient(black, #000000, #7cadfc);
  box-shadow: 10px 10px 8px #000000;
  padding-bottom: 20px;
  padding-top: 10px;
  margin: 20px;
}

.stats__platform {
  margin: 10px;
}

.radio {
  margin-left: 10px;
}

#user {
  width: 220px;
  text-align: center;
  height: 30px;
}

.stats__btn {
  margin: 10px;
  background-color: #7cadfc;
  color: white;
  text-shadow: 1px 1px 5px #000000;
  cursor: pointer;
  padding: 5px 30px;
  border-radius: 10px;
  box-shadow: 3px 3px 10px white;
}

.stats__Icons {
  height: 150px;
  width: 150px;
}

.stats__tile {
  width: 300px;
  height: 400px;
  border-style: solid;
  border-color: white;
  border-radius: 10px;
  background-image: linear-gradient(black, #000000, #7cadfc);
  box-shadow: 10px 10px 8px #000000;
  padding-bottom: 20px;
  padding-top: 10px;
  margin: 20px;
  align-items: center;
}

.stats__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .stats {
    background-image: linear-gradient(0.25turn, black, #000000, #7cadfc);
  }

  .stats__box {
    width: 300px;
  }
}
