.nav {
  height: 20px;
  background-color: rgb(20, 20, 20);
  color: white;
  text-align: center;
}

.nav__links {
  margin-left: -40px;
  justify-content: space-between;
}

li {
  list-style-type: none;
  display: inline;
  width: 100%;
  margin: 25px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: red;
}
