.nav {
  height: 30px;
  background-color: #ff060d;
  color: white;
  text-align: center;
  position: sticky;
  top: 0;
}

.nav__links {
  margin-left: -40px;
  height: 30px;
  line-height: 30px;
}

li {
  list-style-type: none;
  display: inline;
  width: 100%;
  margin: 25px;
}

.nav__link:hover {
  color: #fefb47;
}

a {
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 678px) {
  /* li:not(:first-child) {
    display: none;
  } */
  .nav {
    display: none;
  }
}
