* {
  margin: 0;
  font-family: apexFont;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: apexFont;
  src: url(./assets/AgencyFB-Bold.ttf);
}
